cmake==3.29.2
cmake-format==0.6.13
cmake-build-extension==0.6.1
ConfigArgParse==1.7
einops==0.8.1
glfw==2.6.5
pycolmap==3.11.1
opencv-python==4.11.0.86
pillow==11.0.0
plyfile==1.0.3
pybind11[global]==2.13.6
PyYAML==6.0.3
scipy==1.15.1
tqdm==4.67.1
numpy==2.2.6
trimesh==4.11.0
lpips==0.1.4
scikit-image==0.25.2
scikit-learn
matplotlib==3.10.8
wandb
open3d
torchmetrics
